.board {
  display: flex;
  flex-wrap: wrap;
}

.validation-errors-display {
  text-align: center;
  margin-bottom: 2em;
}

.validation-errors-display__list {
  list-style-type: none;
  padding: 0;
}

.board-name__header {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
  font-family: 'Raleway', sans-serif;
}
